*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Header or Navbar */
.navbar{
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}

.logo img{
   margin-left: 80px;
   width: 150px;
   height: auto;
}

.nav-links{
    padding-right: 70px;
}

.nav-links a{
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav-links a:hover{
    color: #388e3b;
}

.nav-links .nav-btn{
    margin-left: 20px;
    padding: 15px 35px;
    background-color: #388e3b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.nav-btn:hover{
    background-color: #408c50;
}

/* Hero Section */
.hero-section{
    width: 100vw;
    height: 500px;
    padding: 40px;
    background-color: #f5f7fa;
}

.hero-section h1{
    color: #4d4d4d;
    margin-bottom: 20px;
    font-size: 50px;
}
.hero-section h1 span{
    color: #388e3b;
    display: block; 
}

.hero-text p{
    font-size: 18px;
    color: #596169;
}

.hero-section .hero-btn{
    padding: 15px 35px;
    background-color: #388e3b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.hero-btn:hover{
    background-color: #408c50;
}

.hero-div{
    display: flex;
    padding: 20px;
    margin-top: 60px;
}

.hero-text{
    margin-left: 245px;
    margin-top: 25px;
    /* padding-right: 80px; */
}

.hero-image{
    margin-left: 300px;
}

.hero-dot{
    margin-top: 350px;
    margin-left: 100px;
}

/* Client Section*/
.client{
    width: 100vw;
    height: 180px;
    background-color: white;
    padding-top: 50px;
    margin-bottom: 50px;
}

.client-text{
    text-align: center;
}

.client-text h2{
    color: #4d4d4d;
    font-size: 35px;
}

.client-text p{
    color: #596169;
    font-size: 20px;
    padding-top: 10px;
}

.client-icons{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding: 60px;
    padding-right: 270px;
    
}

.client-icons img{
    width: 48px;
    margin-left: 200px;
}

/* Community */
.community{
    width: 100vw;
    height: 500px;
    padding-top: 100px;
    background-color: white;
}

.community-text{
    text-align: center;
}

.community-text h2{
    font-size: 35px;
    color: #4d4d4d;
    margin-bottom: 8px;
}

.community-text h2 span{
    display: block;
}

.community-text p{
    font-size: 20px;
    color: #596169;
}

.card-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.card-main .card1, .card2, .card3{
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-main h2{
    font-size: 30px;
    color: #4d4d4d;
}

.card-main p{
    font-size: 20px;
    color: #596169;
    padding: 20px;
}

.card-main img{
    padding-top: 20px;
    width: 70px;
    height: auto;
}

.card-main .card2, .card3{
    margin-left: 150px;
}

/* Body Section*/
.body{
    width: 100vw;
    height: 100vh;
    padding-top: 270px;
    background-color: white;
}

/* The Unseen Section */
.body-con1{
    margin: 10px 100px;
    display: flex;
    align-items: center;
}

.body-con1 .body-image{
    margin-left: 400px;
}

.body-image img{
    width: 400px;
    height: auto;
}

.body-main-text{
    width: 500px;
    height: auto;
    margin-left: 200px;
}

.body-main-text h2{
    font-size: 32px;
    color: #394149;
    padding-bottom: 20px;   
}

.body-main-text p{
    font-size: 20px;
    color: #596169;
}

.body-con1 .body-btn{
    margin-top: 20px;
    padding: 15px 35px;
    background-color: #388e3b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.body-btn:hover{
    background-color: #408c50;
}

/* Achievements Section */
.body-con2 {
    width: 100vw;
    min-height: 450px;
    background-color: #f5f7fa; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}

.div-text {
    max-width: 450px;
    margin-left: 200px;
}

.div-text h2 {
    font-size: 36px;
    color: #394149;
}

.div-text h2 span {
    display: block;
    color: #388e3b;
}

.div-text p {
    font-size: 18px;
    color: #596169;
    margin-top: 10px;
}

.div-count {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.div-count .div1, .div-count .div2, .div-count .div3, .div-count .div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px;
}

.div-count img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.div-count h2 {
    font-size: 25px;
    color: #394149;
    margin-bottom: 10px;
}

.div-count p {
    font-size: 20px;
    color: #596169;
}

 /* Demo Section  */
.body-con3{
    width: 100vw;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.body-con3 p{
    font-size: 50px;
    color: #4d4d4d;
    font-weight: bold;
}

.body-con3 p span{
    display: block;
}

.body-con3 .demo-btn{
    margin-left: 20px;
    padding: 15px 35px;
    background-color: #388e3b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.demo-btn:hover{
    background-color: #408c50;
}

/* Footer Section */
.footer{
    width: 100%;
    height: 250px;
    background-color: #263238;
    margin-top: 80px;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

